/**
 * @brief Buttons
 * @author Tomi Lähteenmäki
 * @license GPLv2
 */

button {
    min-height: 23px;
    min-width: 75px;
    background-image: linear-gradient(to bottom,
                                      #f2f2f2 0%, #ebebeb 47%,
                                      #dddddd 48%, #cfcfcf 100%);
    background-position: 1px 1px;
    background-size: calc(100% - 2px) calc(100% - 2px);
    background-color: #fcfcfc;
    background-repeat: no-repeat;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #707070;
    margin: 2px;
}

button:hover {
    background-image: linear-gradient(to bottom,
                                      #eaf6fd 0%, #d9f0fc 47%,
                                      #bee6fd 48%, #a7d9f5 100%);
    border-color: #3c7fb1;
}

button:active {
    background-image: linear-gradient(to bottom,
                                      #e5f4fc 0%, #c4e5f6 47%,
                                      #98d1ef 48%, #6db6dd 100%);
    border-color: #2c628b;
    background-color: #9eb0ba;
}

button:focus {
    background-image: linear-gradient(to bottom,
                                      #eef4f8 0%, #d2e4ee 47%,
                                      #98d1ef 48%, #c1d9e6 100%);
    background-color: #39d6fd;
    border-color: #3c7fb1;
}

button:disabled {
    background-image: url("assets/buttons/button-insensitive.png");
}

button:backdrop {
}
