/**
 * @brief Win2-7(Pixmap) theme
 * @author Tomi Lähteenmäki
 * @license GPLv2
 */

/*@import url("resource:///org/gtk/libgtk/theme/Adwaita/gtk-contained.css");*/

/* default color scheme */
@define-color bg_color #e8ecf6;
@define-color fg_color #171d4f;
@define-color base_color #fcfcfc;
@define-color text_color #000000;
@define-color selected_bg_color #3399ff;
@define-color selected_fg_color #ffffff;
@define-color progressbar_color #06B025;

/* widget colors */
@define-color panel_bg_color #7a9ac1;
@define-color panel_fg_color #eff1f4;

/* colors used by the theme */
@define-color theme_bg_color @bg_color;
@define-color theme_fg_color @fg_color;
@define-color theme_base_color @base_color;
@define-color theme_text_color @text_color;
@define-color theme_unfocused_bg_color @base_color;
@define-color theme_unfocused_fg_color @fg_color;
@define-color theme_selected_bg_color @selected_bg_color;
@define-color theme_selected_fg_color @selected_fg_color;
@define-color theme_toolbar_bg_color @toolbar_bg_color;
@define-color theme_toolbar_fg_color @toolbar_fg_color;
@define-color theme_panel_bg_color @panel_bg_color;
@define-color theme_panel_fg_color @panel_fg_color;

* {
    padding: 0;
    -GtkToolButton-icon-spacing: 4;
    -GtkTextView-error-underline-color: @error_color;
    -GtkScrolledWindow-scrollbar-spacing: 0;
    -GtkToolItemGroup-expander-size: 11;
    -GtkTreeView-expander-size: 11;
    -GtkTreeView-horizontal-separator: 4;
    -GtkScrollbar-has-backward-stepper: 1;
    -GtkScrollbar-has-forward-stepper: 1;
    -GtkWidget-text-handle-width: 20;
    -GtkWidget-text-handle-height: 24;
    -GtkDialog-button-spacing: 4;
    -GtkDialog-action-area-border: 0;
    outline-color: @outline_color;
    outline-style: dashed;
    outline-offset: -3px;
    outline-width: 0px;
    -gtk-outline-radius: 0;
    -gtk-secondary-caret-color: @selected_bg_color;
}


.background {
    color: @theme_fg_color;
    background-color: @theme_bg_color;
}

.background:backdrop {
    color: @theme_unfocused_fg_color;
    background-color: @theme_bg_color;
    text-shadow: none;
    -gtk-icon-shadow: none;
}

/* widgets */
@import url("buttons.css");
@import url("scrollbars.css");
@import url("titlebar.css");
@import url("tooltip.css");

/* applications */
@import url("apps/xfce.css");
