/**
 * @brief Scrollbars
 * @author Tomi Lähteenmäki
 * @license GPLv2
 */

scrollbar {
	-GtkScrollbar-has-forward-stepper: 1;
	-GtkScrollbar-has-backward-stepper: 1;
	-GtkScrollbar-has-secondary-forward-stepper: 0;
	-GtkScrollbar-has-secondary-backward-stepper: 0;
	border-width: 0;
}

scrollbar slider {
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    border-color: #999999;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
}

scrollbar button {
    margin: 0px;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
}

scrollbar.vertical {
    background-image: linear-gradient(to right, #e9e9e9 0%, #fcfcfc 100%);
    background-position: center;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 1px;
    border-top-color: #ededed;
    border-left-color: #ffffff;
    border-bottom-color: #ededed;
    border-right-color: #ededed;
}

scrollbar.vertical slider {
    min-height: 20px;
    min-width: 13px;
    background-image: url("assets/scrollbars/scroll-thumb-vert.png"),
                          linear-gradient(to right,
                                          #f5f5f5 0%, #e9e9eb 47%,
                                          #d9dadc 48%, #cfcfd1 100%);
}

scrollbar.vertical slider:hover,
scrollbar.vertical slider:active {
    border-color: #3c7fb1;
    background-image: url("assets/scrollbars/scroll-thumb-vert-prelight.png"),
                          linear-gradient(to right,
                              #e3f4fc 0%, #d6eefb 47%,
                              #a9dbf6 48%, #9ccae3 100%);
}

scrollbar.vertical button {
    min-width: 15px;
    min-height: 16px;
}

scrollbar.vertical button.up {
    -gtk-icon-source: url("assets/scrollbars/stepper-up.png");
}

scrollbar.vertical button.up:hover,
scrollbar.vertical button.up:active {
    -gtk-icon-source: url("assets/scrollbars/stepper-up-prelight.png");
}

scrollbar.vertical button.up:disabled {
    -gtk-icon-source: url("assets/scrollbars/stepper-up-insens.png");
}

scrollbar.vertical button.down {
    -gtk-icon-source: url("assets/scrollbars/stepper-down.png");
}

scrollbar.vertical button.down:hover,
scrollbar.vertical button.down:active {
    -gtk-icon-source: url("assets/scrollbars/stepper-down-prelight.png");
}

scrollbar.vertical button.down:disabled {
    -gtk-icon-source: url("assets/scrollbars/stepper-down-insens.png");
}

scrollbar.vertical button.top:hover,
scrollbar.vertical button.top:active {
    -gtk-icon-source: url("assets/scrollbars/stepper-up-prelight.png");
}

scrollbar.horizontal {
    background-image: linear-gradient(to bottom, #e9e9e9 0%, #fcfcfc 100%);
    background-position: center;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 1px;
    border-top-color: #ffffff;
    border-left-color: #ededed;
    border-bottom-color: #ededed;
    border-right-color: #ededed;
}

scrollbar.horizontal slider {
    min-height: 13px;
    min-width: 20px;
    background-image: url("assets/scrollbars/scroll-thumb-horiz.png"),
                          linear-gradient(to bottom,
                                          #f5f5f5 0%, #e9e9eb 47%,
                                          #d9dadc 48%, #cfcfd1 100%);
}

scrollbar.horizontal slider:hover,
scrollbar.horizontal slider:active {
    border-color: #3c7fb1;
    background-image: url("assets/scrollbars/scroll-thumb-horiz-prelight.png"),
                          linear-gradient(to bottom,
                              #e3f4fc 0%, #d6eefb 47%,
                              #a9dbf6 48%, #9ccae3 100%);
}

scrollbar.horizontal button {
    min-width: 16px;
    min-height: 15px;
}

scrollbar.horizontal button.up {
    -gtk-icon-source: url("assets/scrollbars/stepper-left.png");
}

scrollbar.horizontal button.up:hover,
scrollbar.horizontal button.up:active {
    -gtk-icon-source: url("assets/scrollbars/stepper-left-prelight.png");
}

scrollbar.horizontal button.up:disabled {
    -gtk-icon-source: url("assets/scrollbars/stepper-left-insens.png");
}

scrollbar.horizontal button.down {
    -gtk-icon-source: url("assets/scrollbars/stepper-right.png");
}

scrollbar.horizontal button.down:hover,
scrollbar.horizontal button.down:active {
    -gtk-icon-source: url("assets/scrollbars/stepper-right-prelight.png");
}

scrollbar.horizontal button.down:disabled {
    -gtk-icon-source: url("assets/scrollbars/stepper-right-insens.png");
}
