/**
 * @brief Titlebar
 * @author Tomi Lähteenmäki
 * @license GPLv2
 */

/* Titlebar */
.titlebar {
    min-height: 30px;
    background-color: #99b4d1;
    padding-left: 8px;
    padding-right: 8px;
}

.titlebar:backdrop {
    background-color: #bfcedc;
}

.default-decoration .titlebutton,
.titlebar .titlebutton {
    min-width: 31px;
    min-height: 17px;
    background-color: transparent;
    color: transparent;
    padding: 0px;
    margin: 0px;
}

.titlebar .titlebutton.close,
.titlebar .titlebutton.maximize,
.titlebar .titlebutton.minimize {
    padding: 1px 2px;
    margin-left: -0.6em;
    border: none;
}

/* Close */
.titlebar .titlebutton.close {
    background-image: -gtk-scaled(url("assets/titlebar/close-active.png"));
}

.titlebar .titlebutton.close:backdrop {
    background-image: -gtk-scaled(url("assets/titlebar/close-inactive.png"));
}

.titlebar .titlebutton.close:hover {
    background-image: -gtk-scaled(url("assets/titlebar/close-prelight.png"));
}

.titlebar .titlebutton.close:active {
    background-image: -gtk-scaled(url("assets/titlebar/close-pressed.png"));
}

/* Maximize */
.titlebar .titlebutton.maximize {
    background-image: -gtk-scaled(url("assets/titlebar/maximize-active.png"));
}

.titlebar .titlebutton.maximize:backdrop {
    background-image: -gtk-scaled(url("assets/titlebar/maximize-inactive.png"));
}

.titlebar .titlebutton.maximize:hover {
    background-image: -gtk-scaled(url("assets/titlebar/maximize-prelight.png"));
}

.titlebar .titlebutton.maximize:active {
    background-image: -gtk-scaled(url("assets/titlebar/maximize-pressed.png"));
}

.maximized .titlebutton.maximize {
    background-image: -gtk-scaled(url("assets/titlebar/maximize-toggled-active.png"));
}

.maximized .titlebutton.maximize:backdrop {
    background-image: -gtk-scaled(url("assets/titlebar/maximize-toggled-inactive.png"));
}

.maximized .titlebutton.maximize:hover {
    background-image: -gtk-scaled(url("assets/titlebar/maximize-toggled-prelight.png"));
}

.maximized .titlebutton.maximize:active {
    background-image: -gtk-scaled(url("assets/titlebar/maximize-toggled-pressed.png"));
}


/* Minimize */
.titlebar .titlebutton.minimize {
    background-image: -gtk-scaled(url("assets/titlebar/hide-active.png"));
}

.titlebar .titlebutton.minimize:backdrop {
    background-image: -gtk-scaled(url("assets/titlebar/hide-inactive.png"));
}

.titlebar .titlebutton.minimize:hover {
    background-image: -gtk-scaled(url("assets/titlebar/hide-prelight.png"));
}

.titlebar .titlebutton.minimize:active {
    background-image: -gtk-scaled(url("assets/titlebar/hide-pressed.png"));
}

