/**
 * @brief Tooltip
 * @author Tomi Lähteenmäki
 * @license GPLv2
 */

tooltip {
    margin: 5px;
    text-shadow: none;
    box-shadow: none;
}

tooltip.background {
    padding: 4px 6px 4px 6px;
    border-radius: 4px;
    border: 1px solid #767676;
    background: linear-gradient(to bottom,
                                #ffffff 0%,
                                #e4e5f0 100%);
}

tooltip decoration {
    color: #575757;
    border-radius: 4px;
    background: transparent;
    box-shadow: 4px 4px 2px #8e8e8e;
}

tooltip * {
    color: #575757;
    opacity: 1;
}