/**
 * @brief Xfce4
 * @author Tomi Lähteenmäki
 * @license GPLv2
 */

XfceHeading {
    margin: 0;
    padding: 0;
    border-width: 0;
    background-color: @theme_base_color;
    background-image: none;
    color: @theme_text_color;
}

.xfce4-panel {
    background-color: @theme_panel_bg_color;
}

.xfce4-panel .button,
.xfce4-panel button {
    min-width: 0px;
    min-height: 0px;
    padding: 0px;
    border-radius: 0;
    border-style: none;
    color: @theme_panel_fg_color;
    background-color: @theme_panel_bg_color;
    background-image: none;
}

.xfce4-panel .button:active {
    background-color: shade(@theme_panel_bg_color, 0.8);
    background-image: none;
    color: @theme_panel_fg_color;
}

.xfce4-panel .button:hover,
.xfce4-panel .button:active:hover {
    background-color: @theme_panel_bg_color;
    background-image: none;
    color: @theme_panel_fg_color;
}

.xfce4-panel .menu {
    -gtk-icon-effect: none;
}
